label{
    color:#F6CD0B;

}
h3,h1,p{
    color:white
}
.bloc1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;


    margin: 2rem auto;


  
}
.details{
    margin-left: 3rem;
}
img{
    height: 300px;
}
.detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
label{
    margin-right: 1rem;
}

